/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
/* copied */
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root
{
    --navbar-height: 59vh;/*59px*/

}

/* Navigation Bar  */
#navbar
{
    display: flex;
    align-items: center;
    position: sticky;
    /* relative; */
    top: 0px;
}
/* Adding background setting for navbar */
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
/* Navigation Bar : Logo and image  */
#logo
{
    margin: 6px 10px;
}

#logo img
{
    height: 11vh;/*64px*/
    margin: 10px 16px;
}
/* Navigation Bar : List styling */
#navbar ul{
    display: flex;
}

/* For all list items  */
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
/* The list item texts  */
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.0rem;
    font-family: 'Mochiy Pop P One', sans-serif;
    /* 17:00 */
}
/* When ythe text is hovered  */
#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* Home section */
#home
{
    display: flex;
    flex-direction: column;
    /* height: 567px; */
    height: 82vh;

    align-items: center;
    justify-content: center;
    padding: 3px 200px;
}
/* Background image for home */
#home::before
{
    content:"";
    position: absolute;
    background: url('../Images/pexels-ray-piedra-1565982.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}
/* Home heading */
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
/* Home paragraph */
#home p{
    color:white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

/* Services section  */
#services
{
    margin: 30px;
    display: flex;
}
/* Services boxes */
#services .box
{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 28px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
/* Services box images */
#services .box img
{
    /* height: 121px; */
    height: 12vh;
    margin: auto;
    display: block;
}
/* Services box paragraphs */
#service .box p
{
    font-family: 'Bree Serif', serif;;
}

/* Clients section  */
#client-section
{
    /* height: 400px; */
    height: 65vh;
    
}

/* Client section background image */
#client-section::before
{
    content: "";
    position: absolute;
    background: url('../Images/pexels-polina-tankilevitch-3872434.jpg') no-repeat center center/cover;
    height: 400px;
    width: 100%;
    z-index: -1;
    opacity: 0.45;
}
/* Clients  */
#clients
{
    display: flex;
    margin: 34px;
    /* margin-bottom: 20px; */
    /* flex-direction: columnn; */
    /* align-items: center; */
    /* justify-content: center; */
}

/* Clients boxes */
#clients .client-box
{
    /* border: 2px solid brown; */
    padding: 34px;
    margin: 2px 28px;
    border-radius: 28px;
    /* background: #f2f2f2; */
    margin-bottom: 20px;
}

/* clients box images */
#clients .client-box img
{
    /* height: 121px; */
    height: 18vh;
    margin: auto;
    display: block;
}


/* contact section  */
#contact
{
    position: relative;
    /* height: 400px; */
    /* height: 79vh; */
    margin-top: 10px;
}

/* contacts background image */
#contact::before
{
    content:"";
    position: absolute;
    background: url('../Images/pexels-markus-winkler-4144772.jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* contacts box  */
#contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13 px; 
    /* 34px; */
    
}
/* contact form  */
#contact-box form
{
    width: 40%;
}
/* comtact form labels */
#contact-box label
{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* form input and textarea */
#contact-box input,
#contact-box textarea
{
    width: 100%;
    padding: 0.3rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

/* footer styling */
footer
{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility classes */
.h-primary
{
    font-size: 2.8rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}

.h-secondary
{
    font-size: 1.6rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}
.btn
{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    background-color: rgb(187 136 117);
    margin: 17px;
    font-size: 1.0rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
    /* opacity: 0.2; */
}

.center
{
    text-align: center;
}
/* 1:09:00 */